@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f2937;
}

html {
  scroll-behavior: smooth;
}

#section1, #section2, #section3, #section4, #section5, #section6 {
  width: 90vw; /* 90% of the viewport width */
}

.transition-transform {
  transition: transform 0.3s ease-in-out;
}

